<div class="card-footer">
    <nav aria-label="Contacts Page Navigation">
        <ul class="pagination justify-content-center m-0" *ngIf="paginas">
            <li class="page-item">
                <a 
                    class="page-link"
                    [routerLink]="['/clientes/pagina/0']"
                    [ngClass]="{'disabled': paginaActual == 0}"
                >Primera</a>
            </li>
            
            <li class="page-item">
                <a
                    class="page-link"
                    [routerLink]="['/clientes/pagina/', paginaActual - 1]"
                    [ngClass]="{'disabled': paginaActual == 0}"
                >&laquo;</a>
            </li>

            <li class="page-item" *ngFor="let pagina of paginas">
                <a class="page-link" [routerLink]="['/clientes/pagina/', pagina]" routerLinkActive="active">
                    {{ pagina + 1}}
                </a>
            </li>
            
            <li class="page-item">
                <a 
                    class="page-link"
                    [routerLink]="['/clientes/pagina/', paginaActual + 1]"
                    [ngClass]="{'disabled': paginaActual == (cantidadPaginas - 1)}"
                >&raquo;</a>
            </li>
            <li class="page-item">
                <a 
                    class="page-link"
                    [routerLink]="['/clientes/pagina/', cantidadPaginas -1]"
                    [ngClass]="{'disabled': paginaActual == (cantidadPaginas - 1)}"
                >Ultima</a>
            </li>
        </ul>
    </nav>
</div>

