<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Custom Elements</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-5">
                            <div class="form-group">

                                <div class="custom-control custom-radio">
                                    <input 
                                        class="custom-control-input"
                                        type="radio" id="customRadio3"
                                        name="id"
                                        value="id"
                                        [(ngModel)]="parametro"
                                    >
                                    <label for="customRadio3" class="custom-control-label">Id</label>
                                </div>  
        
                                <div class="custom-control custom-radio">
                                    <input 
                                        class="custom-control-input"
                                        type="radio" id="customRadio1"
                                        name="nombre"
                                        value="nombre"
                                        [(ngModel)]="parametro"
                                    >
                                    <label for="customRadio1" class="custom-control-label">Nombre</label>
                                </div>
        
                                <div class="custom-control custom-radio">
                                    <input 
                                        class="custom-control-input"
                                        type="radio" id="customRadio2"
                                        name="apellido"
                                        value="apellido"
                                        [(ngModel)]="parametro"
                                    >
                                    <label for="customRadio2" class="custom-control-label">Apellido</label>
                                </div>                                   
        
                                <div class="custom-control custom-radio">
                                    <input 
                                        class="custom-control-input"
                                        type="radio" id="customRadio4"
                                        name="email"
                                        value="email"
                                        [(ngModel)]="parametro"
                                    >
                                    <label for="customRadio4" class="custom-control-label">Email</label>
                                </div>  
        
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="form-group">

                                <div class="input-group mb-3">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Parámetro de búsqueda"
                                        aria-label="Recipient's username"
                                        aria-describedby="button-addon2"
                                        [(ngModel)]="textoInput"
                                    >                                    
                                    <div class="input-group-append">                                    
                                        <button
                                            class="btn btn-outline-secondary"
                                            type="submit"
                                            id="button-addon2" 
                                            (click)="findByParams()"
                                        >Buscar</button>
                                    </div>                                    
                                </div>                                                                
        
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <div class="row mt-4" *ngIf="buscando">
        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="spinner-grow" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="clientes">
        <div class="col">
            <div class="card">
                <div class="card-body p-0">                   
                    <table class="table table-sm table-striped projects">
                        <thead class="m-5">
                            <tr>
                                <th style="width: 10%">
                                    Cod. Cliente
                                </th>
                                <th style="width: 15%">
                                    Nombre
                                </th>
                                <th style="width: 15%">
                                    Apellido
                                </th>
                                <th style="width: 18%">
                                    Correo electrónico
                                </th>                    
                                <th>
                                    Foto
                                </th>
                                <th style="width: 40%" class="text-center">
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes">
                                <td>
                                    {{ cliente.id }}
                                </td>
            
                                <td>
                                    {{ cliente.nombre }}
                                </td>
                                
                                <td>
                                    {{ cliente.apellido }}
                                </td>
            
                                <td>                   
                                    {{ cliente.email }}     
                                </td>
            
                                <td>
                                    <img src="assets/img/user.png" alt="" srcset="" height="53" *ngIf="!cliente.img">
                                    <img
                                        [src]="imageUrl + '/' + cliente.img"
                                        alt=""
                                        *ngIf="cliente.img"
                                        height="53"
                                        width="53"
                                        class="rounded-circle" 
                                    >
                                </td>
            
                                <td class="project-actions text-center">
                                    <a class="btn btn-primary btn-sm mx-1" [routerLink]="['/clientes/detalle/', cliente.id]">
                                        <i class="fas fa-folder">
                                        </i>
                                        Detalle
                                    </a>
                                    <a class="btn btn-info btn-sm mx-1" [routerLink]="['/clientes/actualizar', cliente.id]" routerLinkActive="router-link-active" >
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Editar
                                    </a>
                                    <button class="btn btn-danger btn-sm mx-1" type="submit" (click)="deleteClient(cliente)">
                                        <i class="fas fa-trash">
                                        </i>
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>